@mixin rounded-corners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  @mixin wh($width, $height) {
    width: $width;
    height: $height;
    display: block;
  }
  
  @mixin center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin ellipsis($rowCount: 1) {
      @if $rowCount <=1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $rowCount;
      -webkit-box-orient: vertical;
    }
  }
  
  
  @mixin triangle($size: 5px, $color: rgba(0, 0, 0, 0.6), $dir: bottom) {
    width: 0;
    height: 0;
    border-style: solid;
  
    @if (bottom==$dir) {
      border-width: $size $size 0 $size;
      border-color: $color transparent transparent transparent;
    } @else if (top==$dir) {
      border-width: 0 $size $size $size;
      border-color: transparent transparent $color transparent;
    } @else if (right==$dir) {
      border-width: $size 0 $size $size;
      border-color: transparent transparent transparent $color;
    } @else if (left==$dir) {
      border-width: $size $size $size 0;
      border-color: transparent $color transparent transparent;
    }
  }
  
  @mixin postion ($type, $top, $right, $bottom, $left) {
    position: $type;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    & > #{$type} {
      color: #f00;
    }
  }